img {
    object-fit: cover;
    border-radius: 100%;
}

.containerr {
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}

.headingBos {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #2100E9;
    font-size: 28px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #1b1b1b;
}

.subHead {
    color: #808080;
    font-size: 20px;
}

.miniSubHead {
    color: #808080;
    font-size: 12px;
}

